@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rs-modal-wrapper {
  display: flex;
  align-items: center;
  .rs-modal {
    margin: 0 auto 0 auto !important;
  }
}

@media print {
  @page {
    size: A4;
    margin: 20mm;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  /* SEMBUNYIKAN SEMUA */
  body > * {
    display: none !important;
  }

  /* TAMPILKAN MODAL SAJA */
  .ant-modal,
  .ant-modal-root,
  .ant-modal-wrap {
    display: block !important;
    position: static !important;
    transform: none !important;
  }

  .ant-modal-content {
    box-shadow: none !important;
    padding: 0 !important;
  }

  /* FORCE BACKGROUND PRINT */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* OPTIONAL: PRINT BACKGROUND SECTION */
  .print-bg {
    background-color: #e5e7eb !important;
  }
}
