@tailwind base;
@tailwind components;
@tailwind utilities;

.xadmin-page {
    @apply flex h-[100vh];
    .xadmin-section {
        @apply h-full flex-1 p-[10px] bg-neutral-50 overflow-hidden;
        .main-container {
            @apply rounded-[8px] w-full h-full bg-white;
            /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
            box-shadow: rgb(161 161 170 / 0.3) 3px 3px 6px 0px inset, rgb(115 115 115 / 0.3) -3px -3px 6px 1px inset;

            .container-header {
                @apply flex justify-between items-center p-[10px] w-full;
                .breadcrumb-info {
                    ul {
                        @apply flex items-center;
                        li {
                            @apply text-neutral-700 flex items-center text-sm gap-[5px];
                            svg {
                                @apply w-[15px] h-[15px];
                                path {
                                    @apply fill-lime-500;
                                }
                            }
                            &:not(:last-child,:first-child) {
                                &::after {
                                    content: "";
                                    @apply border-l border-l-neutral-500 border-b border-b-neutral-700 inline-block w-[7px] h-[7px] mr-[10px];
                                    transform: rotate(225deg); /* Point in the direction you want */
                                }
                            }
                            &:first-child {
                                @apply pr-[10px] mr-[10px] border-r border-r-neutral-400;
                            }
                        }
                    }
                }
            }
            .container-body {
                @apply p-[20px] flex flex-col gap-[20px] w-full overflow-y-auto;
                height: calc(100% - 50px);
                .title-body {
                    @apply flex items-center gap-[12px] w-full;
                    .logo-area {
                        @apply flex flex-col border border-neutral-300 rounded-[8px] bg-neutral-100;
                        svg {
                            @apply w-[50px] h-[50px];
                        }
                    }
                    .text-area {
                        @apply flex flex-col;
                        h5 {
                            @apply text-[24px]/[14px] text-neutral-800 font-semibold;
                        }
                        p {
                            @apply text-[18px]/[25px] text-neutral-400;
                        }
                    }
                }
                .main-body {
                    @apply flex flex-col gap-[20px] w-full h-full;
                    .form-input {
                        @apply h-[560px] overflow-y-auto;
                    }
                }
            }
        }
    }
}